$spinnerSize: 64px;

@keyframes spinner-pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}


.Spinner {
  position: relative;

  &.center {
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .icon {
    width: $spinnerSize;
    height: $spinnerSize;
    margin: auto;
    background-color: #99dbfc;
    border-radius: 100%;
    animation: spinner-pulse 1.0s infinite ease-in-out;
  }
}
